<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= image_tag("room.jpeg", alt: "room") %><br>
      <%= link_to "Edit rooms", admin_rooms_path, class: "nav-link" %>
    </div>
    <div class="col-sm">
      <%= image_tag("hotel.jpeg", alt: "hotel") %><br>
      <%= link_to "Edit hotels", admin_hotels_path, class: "nav-link" %>
    </div>
    <div class="col-sm">
      <%= image_tag("city.jpeg", alt: "city") %><br>
      <%= link_to "Edit cities", admin_cities_path, class: "nav-link" %>
    </div>
    <div class="col-sm">
      <%= image_tag("city.jpeg", alt: "city") %><br>
      <%= link_to "Edit galleries", new_gallery_path, class: "nav-link" %>
    </div>
  </div>
</div>