<h1>Confirmation of booking to <%= @user.name %></h1>

<p>
  <%= @greeting %> <%= @user.name %>, you have successfully booked rooms for
  <%= @booking.num_of_guests %> number of guests, for the hotel
  <%= @booking.hotel_name %> between the dates from <%= @booking.check_in_date %> to <%= @booking.check_out_date %>
  Hope you enjoy the hospitality. 
</p>
