<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-60 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- form card  -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Room</h3>
            </div>
            <div class="card-body">

              <%= form_for [:admin, @room] do |f| %>
                <%= render(partial: "error_refer/error", locals: { target: @room }) %>

                <div class = "form-group">
                  <%= f.label :single_bedroom_price, "Single bedroom price:"%>
                  <%= f.number_field :single_bedroom_price, placeholder: "Enter price per room", class: "form-control", step: 0.1, min: 0.0 %>
                </div>

                <div class = "form-group">
                  <%= f.label :double_bedroom_price, "Double bedroom price:"%>
                  <%= f.number_field :double_bedroom_price, placeholder: "Enter price per room", class: "form-control", step: 0.1, min: 0.0 %>
                </div>

                <div class = "form-group">
                  <%= f.label :suite_room_price, "Suite room price :"%>
                  <%= f.number_field :suite_room_price, placeholder: "Enter price per room", class: "form-control", step: 0.1, min: 0.0 %>
                </div>

                <div class = "form-group">
                  <%= f.label :dormitory_room_price, "Dormitory room price :"%>
                  <%= f.number_field :dormitory_room_price, placeholder: "Enter price per room", class: "form-control", step: 0.1, min: 0.0 %>
                </div>

                <div class = "form-group">
                  <%= f.submit "Submit", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->