<% @page_title = "Booking Page" %>
<div class="container">
<div class="row">
<div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
<div class="row">
<div class="col-lg-6 col-md-8 mx-auto">

<!-- form card login -->
<div class="card rounded shadow shadow-sm">
<div class="card-header">
<h3 class="mb-0">Booking Page</h3>
</div>
<div class="card-body">

<%= form_for @booking do |f| %>
  <%= render(partial: "error_refer/error", locals: { target: @booking }) %>
  <ul class = "list-group">
    <% @errors.try(:each) do |message| %>
      <li class = "list-group-item">  <%= message %></li>
    <% end %>
  </ul>

  <div class = "form-group">
      <%= f.label :guest_name, "Name of Guest"%>
      <%= f.text_field :guest_name, placeholder: "Enter your name", class: "form-control" %>
  </div>

  <div class = "form-group">
      <%= f.label :check_in_date, "Check IN "%>
      <%= f.date_field :check_in_date, min: Date.today, placeholder: "Enter check in date", class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :check_out_date, "Check Out "%>
    <%= f.date_field :check_out_date, min: Date.today, placeholder: "Enter check out date", class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :no_of_guests, "No. of Guests" %>
    <%= f.number_field :num_of_guests, min: 0, max: 10 %>
  </div>
  <% unless @single.zero? %>
    <div class = "form-group">
      <%= f.label :single_bedroom_num, "No. of Single bedrooms" %>
      <%= f.number_field :single_bedroom_num, min: 0, max: @single %>
    </div>
  <% end %>

  <% unless @double.zero? %>
    <div class = "form-group">
      <%= f.label :double_bedroom_num, "No. of Double bedrooms "%>
      <%= f.number_field :double_bedroom_num, min: 0, max: @double %>
    </div>
  <% end %>

  <% unless @suite.zero? %>
    <div class = "form-group">
      <%= f.label :suite_room_num, "No. of suite rooms "%>
      <%= f.number_field :suite_room_num, min: 0, max: @suite %>
    </div>
  <% end %>


  <% unless @dormitory.zero? %>
    <div class = "form-group">
      <%= f.label :dormitory_room_num, "No. of dormitory rooms "%>
      <%= f.number_field :dormitory_room_num, min: 0, max: @dormitory%>
    </div>
  <% end %>


    <div class = "form-group">
      <%= f.hidden_field :hotel_id, value: params[:hotel_id] %>
    </div>

  <div class = "form-group">
    <%= f.hidden_field :hotel_name, value: params[:hotel_name] %>
  </div>


  <div class = "form-group">
    <%= f.submit "SUBMIT", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
<!--/card-block-->
</div>
<!-- /form card login -->
</div>
</div>
<!--/row-->
</div>
<!--/col-->
</div>
<!--/row-->
</div>
<!--/container-->
