
<% @page_title = "Sign up Page" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">

          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Sign up</h3>
            </div>
            <div class="card-body">
              <%= form_for @user do |f| %>
              <%= render(partial: "error_refer/error", locals: { target: @user }) %>
              <ul class = "list-group">
                <% @errors.try(:each) do |message| %>
                <li class = "list-group-item"><%= message %></li>
                <% end %>
              </ul>

              <div class = "form-group">
                <%= f.label :name, "Name "%>
                <%=  f.text_field :name, placeholder: "Enter your name", class: "form-control", required: true  %>
              </div>

              <div class = "form-group">
                <%= f.label :email, "Email "%>
                <%= f.email_field :email, placeholder: "Enter your email", class: "form-control", required: true  %>
              </div>

              <div class = "form-group">
                <%= f.label :phone, "Phone "%>
                <%=  f.telephone_field :phone, placeholder: "Enter your phone", class: "form-control", required: true  %>
              </div>


              <div class = "form-group">
                <%= f.label :password, "Password "%>
                <%= f.password_field :password, placeholder: "Enter your password", class: "form-control", required: true  %>
              </div>

              <div class = "form-group">
                <%= f.label :password, "Password "%>
                <%= f.password_field :password_confirmation, placeholder: "Confirm your password", class: "form-control", required: true  %>
              </div>

              <div class = "form-group">
                <%= f.label :admin %>
                <%= f.check_box(:admin) %>
              </div>

              <div class = "form-group">
                <%= f.submit "Sign up!", class: "btn btn-primary" %>
              </div>

              <% end %>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->