
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">ADD IMAGES</h1>
      <p class="lead text-muted">Add the images you want to display in the gallery..</p>
      <%= form_for @image, html: {multipart: true}  do |f| %>
        <%= render(partial: "error_refer/error", locals: { target: @image }) %>
        <div class="form-group">
          <%= f.file_field :picture, required: true  %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Gallery', class: 'btn btn-primary'  %>
        </div>

      <% end %>
      <p><%= link_to("Back to Home Page", root_path, class: "btn btn-defualt my-2") %>
      </p>

    </div>
  </section>
</main>